@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sidebar-width: 256px;
}

main {
  margin-left: var(--sidebar-width);
  transition: margin-left 300ms ease-in-out;
}

@media (max-width: 1024px) {
  main {
    margin-left: 0 !important;
  }
}

body {
  --sb-track-color: #cacaca;
  --sb-thumb-color: #4f46fe;
  --sb-size: 7px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}


nav::-webkit-scrollbar {
  width: 7px;
}

nav::-webkit-scrollbar-track {
  background: transparent;
}

nav::-webkit-scrollbar-thumb {
  background: #4f46fe; /* indigo-600 */
  border-radius: 10px;
}

nav::-webkit-scrollbar-thumb:hover {
  background: #6366f1; /* indigo-500 */
}

/* For Firefox */
nav {
  scrollbar-width: thin;
  scrollbar-color: #6366f1 transparent;
}
